<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.saxion.recipes">

    <application
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_rounded"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".activities.dish.DishListActivity"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_rounded">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.dish.DishDetailsActivity"
            android:label="@string/label_activity_dishes_details"
            android:parentActivityName=".activities.dish.DishListActivity" />
        <activity
            android:name=".activities.dish.DishEditActivity"
            android:label="@string/label_activity_dishes_edit"
            android:parentActivityName=".activities.dish.DishDetailsActivity" />
        <activity
            android:name=".activities.recipe.RecipeListActivity"
            android:parentActivityName=".activities.dish.DishListActivity" />
        <activity
            android:name=".activities.recipe.RecipeDetailsActivity"
            android:parentActivityName=".activities.recipe.RecipeListActivity" />
        <activity
            android:name=".activities.recipe.RecipeEditActivity"
            android:label="@string/label_activity_recipes_edit"/>
    </application>
</manifest>